asgiref==3.8.1
attr==0.3.2
brotli==1.1.0
brotlicffi==1.1.0.0
celery==5.4.0
cffi==1.17.1
ConfigParser==7.1.0
contextlib2==21.6.0
cryptography==44.0.0
docutils==0.21.2
filelock==3.16.1
grpc_reflection==1.0.0
grpc_status==1.0.0
grpc_tools==1.0.0
h2==4.1.0
HTMLParser==0.0.2
importlib_metadata==8.0.0
influxdb_client==1.48.0
ipython==8.12.3
ipywidgets==8.1.5
jnius==1.1.0
keyring==25.6.0
libsass==0.23.0
mock==5.1.0
oauth2client==4.1.3
Pillow==11.0.0
pyodide==0.0.2
pyOpenSSL==24.3.0
pytz==2024.2
pyu2f==0.1.5
railroad==0.5.0
requests_oauthlib==2.0.0
simplejson==3.19.3
Sphinx==8.1.3
thread==2.0.5
tornado==6.4.2
urllib3_secure_extra==0.1.0
watchdog==6.0.0
xmlrpclib==1.0.1
yarl==1.18.3
zstandard==0.23.0
