<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Device Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/device_details.css">
    <!-- plugins:css -->
    <link rel="stylesheet" href="../static/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../static/assets/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="../static/assets/vendors/font-awesome/css/font-awesome.min.css">
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- End layout styles -->
</head>
<body>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">

        <ul class="nav">
          <li class="nav-item profile">
            <div class="profile-desc">
              <div class="profile-pic">
                <div class="count-indicator">
                  <span class="menu-icon"><i class="fa fa-user"></i></span>                
                </div>
                <div class="profile-name">
                  <h5 class="mb-0 font-weight-normal">Admin</h5>
                  <span>admin</span>
                </div>
              </div>              
            </div>
          </li>
          <li class="nav-item nav-category">
            <span class="nav-link">Navigation</span>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/dashboard">
              <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
              </span>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/gateway_registration" aria-expanded="false" aria-controls="ui-basic">
              <span class="menu-icon">
                <i class="fa fa-rss"></i>
              </span>
              <span class="menu-title">Gateway Registration</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/gateways">
              <span class="menu-icon">
                <i class="mdi mdi-playlist-play"></i>
              </span>
              <span class="menu-title">Gateways List</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/device_registration">
              <span class="menu-icon">
                <i class="mdi mdi-laptop"></i>
              </span>
              <span class="menu-title">Device Registration</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/devices">
              <span class="menu-icon">
                <i class="mdi mdi-playlist-play"></i>
              </span>
              <span class="menu-title">Device List</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
              <span class="mdi mdi-menu"></span>
            </button>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-format-line-spacing"></span>
            </button>
          </div>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> Device Details for {{ device.name }} </h3>
            </div>
            <div class="row">
              <div class="col-md-4"></div>
              <div class="card col-md-4">
                <p><span class="key">Name:</span> <span class="value">{{ device.name }}</span></p>
                <p><span class="key">Device ID:</span> <span class="value">{{ device.deviceId }}</span></p>
                <p><span class="key">Device Profile ID:</span> <span class="value">{{ device.devProfileId }}</span></p>
                <p><span class="key">Application ID:</span> <span class="value">{{ device.appId }}</span></p>
                <p><span class="key">Created At:</span> <span class="value">{{ device.createdAt }}</span></p>
                <p><span class="key">Updated At:</span> <span class="value">{{ device.updatedAt }}</span></p>
                <p><span class="key">Last Seen At:</span> <span class="value">{{ device.lastSeenAt }}</span></p>
                {% if device.status == "Unknown" %}
                    <p><span class="key">Device Status:</span> <span class="value">Unknown</span></p>
                {% else %}
                    <p><span class="key">Margin:</span> <span class="value">{{ device.status.margin }}</span></p>
                    <p><span class="key">External Power Source:</span> <span class="value">{{ device.status.externalPowerSource }}</span></p>
                    <p><span class="key">Battery Level:</span> <span class="value">{{ device.status.batteryLevel }}</span></p>
                {% endif %}
              </div>
              <div class="col-md-4"></div>
            </div>
            
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>

   <!-- plugins:js -->
   <script src="../static/assets/vendors/js/vendor.bundle.base.js"></script>
   <!-- endinject -->
   <!-- Plugin js for this page -->
   <script src="../static/assets/vendors/chart.js/chart.umd.js"></script>
   <script src="../static/js/jquery.cookie.js" type="text/javascript"></script>
   <!-- End plugin js for this page -->
   <script src="../static/js/misc.js"></script>
   <script src="../static/js/off-canvas.js"></script>
</body>
</html>
