<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gateways</title>
    <link rel="stylesheet" href="../static/css/gateway.css">
</head>
<body>
<h2 class="heading">Gateways</h2>
<div class="container">
	<div class="table">
		<div class="table-header">
			<div class="header__item"><a id="name" class="filter__link" href="#">Name</a></div>
			<div class="header__item"><a id="wins" class="filter__link filter__link--number" href="#">EUI</a></div>
			<div class="header__item"><a id="draws" class="filter__link filter__link--number" href="#">Address</a></div>
			<div class="header__item"><a id="losses" class="filter__link filter__link--number" href="#">Sim Number</a></div>
		</div>
		<div class="table-content">	
		</div>	
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../static/js/gateway.js"></script>
</body>
</html>